.Footer{
    display: flex;
    justify-content: start;
    align-items: center;
    background:  linear-gradient(to right, #da22ff, #9733ee);
}

.Footer p{
    font-size: 1.3rem;
    margin: 0 0.5rem;
    font-weight: 500;
}